<!-- body -->
<!-- header links -->
<div id="homeheader" style="padding-top:50px">
	<%= render 'headerlinks' %>
</div>
<%= image_tag 'young and working.png', :class => 'logo' %>
<!-- content -->
<div class="row-fluid">
	<div class="span6 offset3">
		<table class="table">
			<tr>
				<% @contents.each do |content| %>
				<td>
				<br />
				<div class="today">
					<div id="<%= content.created_at.strftime("%d-%m-%Y") %>">
						<span class="badge badge-info" > new! </span>
					</div>
				</div>
				<br/>
				<p>
					<small>#<%= content.number%>, <%= content.title.upcase %></small>
				</p>
				<p class="lead">
					"<%= raw content.quote %>"
				</p>
				<div class="pull-right">
					<p>
						<small><%= link_to 'READ MORE', content_path(content.id) %></small>
					</p>
				</div></td>
			</tr>
			<% end %>
		</table>
		<div class="pull-right">
			<%= paginate @contents %>
		</div>
	</div>
</div>

