<!DOCTYPE html>
<!-- We're running on RoR & Bootstrap! -->
<html>
	<head>
		<title>Young &amp; Working</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="pull-right">
				<% if admin_signed_in? %>
				Logged in as <%= current_admin.email %>&nbsp;&nbsp;||&nbsp;&nbsp;
				<%= link_to('Manage Content', contents_path) %> &nbsp;&nbsp;||&nbsp;&nbsp;
				<%= link_to('Manage Submissions', submissions_path) %>&nbsp;&nbsp;||&nbsp;&nbsp;
				<%= link_to('Logout', destroy_admin_session_path, :method => :delete ) %>
				<% end %>
			</div>
			<!-- alerts -->
			<%= render 'layouts/flash_messages'  %>
			<%= yield %>
		</div>
	</body>
</html>
